.hidden {
  display: none;
}

.comment {
  font-size: 2em !important;
}

.navbar-bg-darkgreen {
  background-color: #090909 !important;
}

.navbar-bg-darkgreen a {
  color: #000000 !important;
  font-size: 1.2em;
  margin-left: 0.5em;
  padding: 0.7em;
  transition: 0.5s;
}

.navbar-bg-darkgreen a:hover {
  color: green;
  background-color: #446f08;
  transform: scale(1.1);
}

 .score-img img{

     
 }

.username-icon img {
  height: 50px !important;
  width: 50px !important;
}

.comment-div {
  padding-left: 1em;
}
/* .main-card{
    width: 80em;
 }
 */

/* .main-color{
    background-color: #212529 !important;
   


 }

 .secondary-color{
    background-color: #253c3c !important;
}

*/
.accent-text-color {
  color: #80db0a !important;
  padding-right: 5px;
}

.card-body {
  font-size: 2em;
  border: 2px solid #006502;
  margin: 0px !important;
  padding: 0px !important;
}

.comment {
  font-size: 0.7em !important;
  font-weight: 500;
  color: #6cb00e !important;
}

.card {
  border: 0px;
}

@media (max-width: 320px) {
  .main-card {
    width: 19em;
  }

  .score-img img {
    height: 50px !important;
    width: 50px !important;
    border: 2px solid black;
  }

  .card-body {
    font-size: 1em;
  }
}

@media (min-width: 320px) {
  .main-card {
    width: 20em;
  }

  .score-img img {
    height: 80px !important;
    width: 80px !important;
    border: 2px solid black;
  }

  .card-body {
    font-size: 1em;
  }
}

@media (min-width: 440px) {
  .main-card {
    width: 25em;
  }
  .score-img img {
    height: 70px !important;
    width: 70px !important;
    border: 2px solid black;
  }

  .card-body {
    font-size: 1.2em;
  }

  .username-icon img {
    height: 60px !important;
    width: 60px !important;
  }
}

@media (min-width: 500px) {
  .main-card {
    width: 30em;
  }
  .score-img img {
    height: 70px !important;
    width: 70px !important;
    border: 2px solid black;
  }

  .card-body {
    font-size: 1.4em;
  }

  .username-icon img {
    height: 60px !important;
    width: 60px !important;
  }
}

@media (min-width: 700px) {
  .main-card {
    width: 40em;
  }

  .score-img img {
    height: 100px !important;
    width: 100px !important;
    border: 2px solid black;
  }

  .username-icon img {
    height: 100px !important;
    width: 100px !important;
  }

  .card-body {
    font-size: 1.7em;
  }
}

@media (min-width: 860px) {
  .main-card {
    width: 50em;
  }

  .score-img img {
    height: 120px !important;
    width: 120px !important;
    border: 2px solid black;
  }

  .username-icon img {
    height: 100px !important;
    width: 100px !important;
  }

  .card-body {
    font-size: 1.9em;
  }
}

@media (min-width: 990px) {
  .main-card {
    width: 58em;
  }
  .score-img img {
    height: 120px !important;
    width: 120px !important;
    border: 2px solid black;
  }

  .username-icon img {
    height: 100px !important;
    width: 100px !important;
  }

  .card-body {
    font-size: 2em;
  }
}

@media (min-width: 1105px) {
  .main-card {
    width: 63em;
  }
  .score-img img {
    height: 120px !important;
    width: 120px !important;
    border: 2px solid black;
  }

  .username-icon img {
    height: 100px !important;
    width: 100px !important;
  }

  .card-body {
    font-size: 2.4em;
  }
}

@media (min-width: 1300px) {
  .main-card {
    width: 80em;
  }
  .score-img img {
    height: 190px !important;
    width: 190px !important;
    border: 2px solid black;
  }

  .username-icon img {
    height: 100px !important;
    width: 100px !important;
  }

  .card-body {
    font-size: 2.6em;
  }
}

.nav-tabs a {
  text-decoration: none;
  color: #8aa762;
}
.nav-tabs a:hover {
  color: #d8eeb9;
  cursor: 1;
}

.main-card {
  padding: 0px;
  margin: 0px;
}

.card-body {
  margin-top: 0.2em !important;

  background: linear-gradient(
    135deg,
    rgb(0, 0, 0) 60%,
    rgb(0, 91, 14)  60%,
    rgb(0, 91, 14) 98%
  );
}

.nav-tabs .nav-item {
  cursor: pointer;
}
body{
  background-color: #0a1501;
}


#board-conatiner{
  background-color: #0a1501 !important;
}

.card-header{
  background-color: #101010 !important;;
  border: 2px solid green;
}

.nav-tabs .active{
  background-color: rgb(0, 59, 0) !important;
  color: #9be412 !important;
  transform: scale(1.1) translateY(-5px);
  border: 3px solid #63cf0a !important;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 600;

}

.nav-tabs .nav-link:not(.active):hover{
  transform: scale(1.2) !important;
  outline : 3px solid #63cf0a !important;
  background-color: #2f5f07 !important;
  transition: 0.4s  !important;
  border: none !important;
}


.card-body{
  margin-top: 1em !important;
  
}

.navbar{
  background-color: #000000 !important;
  color: #9be412 !important;
  box-shadow: 2px 2px green;
}

.navbar a{
  color: #9be412 !important;
  font-size: 1.3em;
  margin-left: 15px !important;
}
.navbar a:hover{
  transform: scale(1.2);
  outline : 3px solid #63cf0a !important;
  background-color: #2f5f07;
  transition: 0.4s;
}

