#user-span{
  position: fixed;
  z-index: 10;
}


@media (max-width: 650px) {
  .canvas-container {
    display: grid !important;
  }
}
@media (max-width: 767px) {
  #colors {
    display: none !important;
  }

  .footer {
    height: 13vh !important;
  }
}

@media (max-width: 850px) {
  .card {
    width: 1.3em !important;
    height: 1.3em !important;
  }
}

@media (max-width: 1000px) {
  input[type="range"] {
    accent-color: rgb(73, 156, 1);
    width: 9.5em;
  }
}

* {
  margin: 0px;
  padding: 0px;
}

#myCanvas {
  background-color: rgb(255, 255, 255);
  transition: 1s;
}

#myCanvas2 {
  background-color: rgb(255, 255, 255);
  cursor: url("bcursor2.png"), auto;
  touch-action: none;
  transition: 1s;
  /* image-rendering: pixelated !important; */
}

.zero-opacity {
  opacity: 0;
  transform: translateY(-1vh);
}

#myCanvas:hover {
}

.footer {
  width: 100%;

  background-color: rgb(4, 69, 4);
  color: white;
  border-bottom: 2px solid black !important;
}

body {
  /* overflow: hidden; */
  height: 95vh;
  background-color: #122600;
  font-family: fantasy;
}

.hidden {
  display: none;
}

.canv-container {
}

canvas {
  border: 2px solid black;
  margin: 0px;
  padding: 0px;
  border-radius: 3px;
}

.color-div {
  border: 2px solid black;

  margin: 0px;
  border-radius: 5px;
  cursor: url("bcursor2.png"), auto;
}

.color-div:active {
  filter: brightness(0.5);
}

.card {
  width: 1.5em;
  height: 1.5em;
  margin: 0px;
}

#colors {
  height: 60%;
}

.share-button {
}

.share-button:hover {
  background-color: rgb(83, 0, 0) !important;
  animation: rainbow 2s normal none infinite;
}

@keyframes rainbow {
  0% {
    filter: hue-rotate(360deg);
  }

  100% {
    filter: hue-rotate(0deg);
  }
}

.side-btn {
  width: 8em;
  margin: 0.1em;

  background-color: transparent;
  border: 2px solid rgb(172, 201, 12) !important;
  color: rgb(172, 201, 12) !important;
  transition: 0.5s;
  font-weight: 500;
  font-size: 0.9em;
  
}

.side-btn:hover {
  transform: scale(1.2);
  color: rgb(255, 255, 255) !important;
  background-color: rgb(106, 153, 18);
  font-weight: 500;
  z-index: 5;
  
}

.share-button:hover::after {
  /* content:url("world-flag.png");
display: flex;
    height: 20px;
    width: 20px;
    position: absolute;
    right: 0px;
    top:0px */
}

#tools {
  font-size: 1em;
  border-radius: 9px;
}

#tools img {
  width: 30px;
  height: 30px;
  filter: hue-rotate(223deg);
}
input[type="range"] {
  accent-color: rgb(73, 156, 1);
}

#brush-size {
  font-size: 1.2em !important;
}

#save-icon {
  cursor: pointer;
  transition: 0.5s;
}

#save-icon:hover {
  transform: scale(1.5);
}

.swal2-title {
  font-weight: 500 !important;
}


#time {
  color: rgb(233, 17, 6);
  font-size: 1.7em;
  font-weight: 600;
}

#color-picker {
  margin-left: 10px;
  margin-right: 10px;
  border: 0px solid black;
}

@keyframes rainbow_border {
  0% {
    border: 2px solid rgb(255, 128, 0);
  }
  10% {
    border: 2px solid rgb(255, 238, 0);
  }
  20% {
    border: 2px solid rgb(157, 255, 0);
  }
  30% {
    border: 2px solid rgb(17, 255, 0);
  }
  40% {
    border: 2px solid rgb(0, 255, 123);
  }
  50% {
    border: 2px solid rgb(0, 255, 225);
  }
  60% {
    border: 2px solid rgb(0, 213, 255);
  }
  70% {
    border: 2px solid rgb(0, 34, 255);
  }
  80% {
    border: 2px solid rgb(128, 0, 255);
  }
  90% {
    border: 2px solid rgb(255, 0, 230);
  }
  100% {
    border: 2px solid rgb(255, 0, 0);
  }
}

.rainbow-border {
  animation: rainbow_border 2s mirror none infinite;
  border: 2px solid rgb(255, 0, 0);
}


.dropper-btn{
  background-color: rgb(208, 187, 24);
  color: black;
  padding: 2px;
}
.dropper-pressed{
  background-color: rgb(169, 93, 6);
  color: black;
  border: 2px solid blue;
}